@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.app {
    padding-top: 4em;
    padding-bottom: 4em;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    height: 100vh;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2em;
    padding-right: 1.2em;
    max-width: 600px;
    -webkit-transition: filter 0.3s ease;
    transition: filter 0.3s ease;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    height: 200px;
}

/* Dark Mode */
.toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 1.2rem;
    padding: 12px;
    font-size: 0;
    text-align: center;
    background-color: cyan;
    border-radius: 100px;
    cursor: pointer;
    padding-bottom: 30px;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

.toggle span {
    display: inline-block;
    vertical-align: bottom;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.toggle img {
    position: relative;
    display: block;
    width: 20px;
}

.toggle .dark {
    opacity: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .app {
    background-color: black;
}

input[type="checkbox"]:checked + .app .container {
    -webkit-filter: invert(100%) hue-rotate(180deg);
    filter: invert(100%) hue-rotate(180deg);
}

input[type="checkbox"]:checked + .app .toggle {
    background-color: blue;
}

input[type="checkbox"]:checked + .app .toggle::before {
    background-color: #eee;
    transform: translateX(20px);
}

input[type="checkbox"]:checked + .app .toggle .light {
    opacity: 0;
}

input[type="checkbox"]:checked + .app .toggle .dark {
    opacity: 1;
}
