.navbars {
    width: 100%;
    height: 100px;

    .navbar_list {
        display: flex;
        width: 100%;

       background-color: cyan;
        .left_nabar {
            width: 50%;
        }
        .right_navbar {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .links {
                text-decoration: none;
                color: black;
            }
            .logout
        {
            padding:10px;
            border: none;
            outline: none;
           background-color: blue;
       color:white;
       font-weight: 700;
            cursor: pointer;
            border-radius: 10px;
        }
        }
        
    }
}
